body{
    background-color: rgb(109, 13, 13);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}
h2{
    font-style: italic;
    color: antiquewhite;
    padding: 10px;
}